@model Photography.ViewModels.AccountViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="account.Id" />
            <div class="form-group">
                <label asp-for="account.Nume" class="control-label"></label>
                <input asp-for="account.Nume" class="form-control" />
                <span asp-validation-for="account.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account.Prenume" class="control-label"></label>
                <input asp-for="account.Prenume" class="form-control" />
                <span asp-validation-for="account.Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account.Email" class="control-label"></label>
                <input asp-for="account.Email" class="form-control" />
                <span asp-validation-for="account.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account.PhoneNumber" class="control-label"></label>
                <input asp-for="account.PhoneNumber" class="form-control" />
                <span asp-validation-for="account.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account.PasswordHash" class="control-label"></label>
                <input asp-for="account.PasswordHash" class="form-control" />
                <span asp-validation-for="account.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account.ProfilePicture" class="control-label"></label>
                <input type="file" name="ProfilePicturefile" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Accounts</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
