@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="text-center">
    <a class="btn border-dark" asp-area="" asp-controller="Home" asp-action="Index">Log in</a>
    <a class="btn border-dark" asp-area="" asp-controller="Home" asp-action="Index">Register</a>
</div>
