@{
    ViewData["Title"] = "Home Page";
}
<div class="text-danger text-danger text-center">@TempData["message"]</div>
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
