@model IEnumerable<Photography.ApplicationLogic.Models.Photo>

@{
    ViewData["Title"] = "Gallery";
}
<div>
    <form class=" w-100 pb-1" asp-action="Index" method="get">
        <div class="d-flex">
            <input class="w-75 rounded border-0 form-control" type="text" name="searchString" placeholder="Search..." />
            <input class="btn btn-outline-primary ml-1 bg-white" type="submit" value="Search" />
            <a class="btn btn-outline-primary ml-1 bg-white" asp-action="Index">See all</a>
        </div>
    </form>
</div>
<div class="row bg-white rounded">
    <div class="card-columns p-md-3">
        @foreach (var item in Model)
        {
            <div class="card">
                <a asp-controller="Posts" asp-action="Details" asp-route-id="@item.PostId"><img src="@Url.Content(item.Picture)" class="card-img img-fluid" alt="photo" /></a>
            </div>
        }

    </div>
</div>


